{% extends "base.html" %}

{% block title %}{{ block.super }} - Welcome {% endblock %}

{% block content %}

<h2>Welcome to My market Gui.de</h2>

<p>This site will help you organize your shopping list according to the order the items are arranged in your supermarket. So no more do you have to walk from the back of the store to the front of the store and back because the items on your shopping list aren't arranged in the same way your super market it.</p>

<p>I hope you enjoy using the app. Please let me know what you think and contact me if you experience any problems. </p>

<p>Thank you</p>

<p>- Stef</p>

{% endblock %}