<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %} My market guide - mymagui.de {% endblock %} </title>
    <link rel="shortcut icon" href="{{ STATIC_URL }}imgs/favicon.ico" type="image/x-icon"/>

    <link rel="stylesheet" href="{{ STATIC_URL }}css/groshlist.css" type="text/css" media="all" charset="utf-8">

	<!--[if IE 6]>
	<script src="{{ STATIC_URL }}js/DD_belatedPNG_0.0.7a-min.js"></script>
	<script>
		DD_belatedPNG.fix('#bleeder, .logo');
	</script>
	<![endif]-->
</head>


<body id="{% block body_id %}{% endblock %}" class="{% block body_class %}blog{% endblock %}">

<div class="page_margins">
    <div id="border-top">
      <div id="edge-tl"></div>
      <div id="edge-tr"></div>
    </div>
    <div class="page">
		<div id="header">
		        <div id="topnav">
		          <!-- start: skip link navigation -->
		          <a class="skip" title="skip link" href="#navigation">Skip to the navigation</a><span class="hideme">.</span>
		          <a class="skip" title="skip link" href="#content">Skip to the content</a><span class="hideme">.</span>
		          <!-- end: skip link navigation --><a href="/login">Login</a> | <a href="/contact">Contact</a> | <a href="/imprint">Imprint</a>
		      </div>
	
        <div id="logo">
                <a href="/"><img src="{{ STATIC_URL }}imgs/logo_640_2.png" alt="mymagui.de" /></a>
        </div>
        <div id="topnav">
            <!-- start: skip link navigation -->
            <a class="skip" title="skip link" href="#navigation">Skip to the navigation</a><span class="hideme">.</span>
            <a class="skip" title="skip link" href="#content">Skip to the content</a><span class="hideme">.</span>
            <!-- end: skip link navigation -->
          </div>
        </div>
      </div>
      

      <div id="main">
        <div id="col1">
          <div id="col1_content" class="clearfix">
            <!-- add your content here -->
			<ul>
				{% if not user.is_authenticated %}
				<a href="/register">Register</a><br/>
				<a href="/login">Login</a><br/>
				{% else %}
				<a href="/market">Market</a><br/>
				<a href="/shoppinglist">List</a><br/>
				<a href="/logout">Logout</a><br/>
				{% endif %}
			</ul>
          </div>
        </div>
        <div id="col3">
          <div id="col3_content" class="clearfix">
            <!-- add your content here -->
            {% block content %} {% endblock %}
          </div>
          <div id="ie_clearing"> &#160; </div>
        </div>
		<div id="ie_clearing"> &#160; </div>
        </div>
      </div>
    <div id="border-bottom">
      <div id="edge-bl"></div>
      <div id="edge-br"></div>
    </div>
</div>
            <!-- begin: #footer -->
<div id="footer">
	Developed for the <a href="http://www.djangodash.com" target="_blank">Djangodash 2010</a> by Team <a href="http://djangodash.com/teams/xiii/" target="_blank">XIII</a>.
</div>

</body>

</html>